# Contract Information
NEXT_PUBLIC_CONTRACT_ADDRESS=0x775FeDAACfa5976E366A341171F3A59bcce383d0
NEXT_PUBLIC_CHAIN_ID=656476  # edu-chain network ID

# IPFS Configuration
NEXT_PUBLIC_PINATA_API_KEY=YOUR_PINATA_API_KEY
NEXT_PUBLIC_PINATA_SECRET_API_KEY=YOUR_PINATA_SECRET_KEY
NEXT_PUBLIC_PINATA_JWT=YOUR_PINATA_JWT

# Platform Settings
NEXT_PUBLIC_PLATFORM_FEE_PERCENT=2.5  # Platform fee in percentage 